.features {
    margin-top: 70px;
    text-align: center;
    &__wrapper {
        padding: 2.6em;
        display: flex;
        flex-direction: column;
    }
    &__card {
        margin-bottom: 100px;
        &-img {
            margin-bottom: 20px;
            width: 70px;
        }
        &-h3 {
            margin: .5em 0;
            font-family: $raleway;
        }
        &-copy {
            line-height: 1.5;
            margin: .5em 0;
        } 
    }

    @include desktop-s {
        &__wrapper {
            align-items: center;
            justify-content: space-around;
        }
        &__container--row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90vw;
        }
        &__card {
            max-width: 380px;
        }
    }
}