.footer {
    background-color: $dark-blue-footer;
    padding: 2em;
    padding-top: 12rem;
    &__logo-text {
        > img {
            margin: 2rem 0;
        }
        &--copy {
            display: flex;
            align-items: baseline;
            img {
                margin-right: 1.3em;
            }
            > img {
                margin-right: 2em;
            }
            p {
                line-height: 2;
                font-size: 1rem;
            }
        }
    }

    &__phone-email {
        margin-bottom: 5rem;
        p {
            img {
                margin-right: 1.3rem;
            }
        }
    }
    &__about-us {
        margin-bottom: 3rem;
    }
    &__contact-us {
        margin-bottom: 5rem;
    }
    &__sm-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-right: 10px;
        }
    }

    @include desktop-s {
        .footer {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            &__brand-logo {
                margin-top: 5vh;
            }
            &__logo-text {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                &--copy {
                    max-width: 370px;
                }
            }
        }
    }
}