.productive {
    margin-bottom: 150px;
    &__wrapper {
        padding: 0 1.6em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 85vw;
    }
    &__copy {
        line-height: 1.5;
    }
    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        text-decoration: none;
        color: $cyan-gradient;
        padding-bottom: 5px;
        border-bottom: solid 1px $cyan-gradient;
        img {
            margin-left: 4px;
        }
    }
    @include desktop-s {
        &__wrapper {
            flex-direction: row;
        }
    }
}