.signup {
    padding: 1.2rem;
    position: relative;
    top: 170px;
    &__card {
        background: $dark-blue-testimonials;
        border-radius: 10px;
        text-align: center;
        padding: 1.5rem;
        
        &-copy {
            line-height: 1.5;
            margin-bottom: 2.2rem;
        }
        &-input {
            padding: 1.1em 5.5em;
            border: 0;
            border-radius: 25px;
            margin-bottom: 1.4rem;
        }
        &-button {
            padding: 1.1em 6.2em;
            border: 0;
            border-radius: 25px;
            color: white;
            background-image: linear-gradient(to right, $cyan-gradient 0%, $blue-gradient 100%);
        }
    }
    @include desktop-s {
        &__card {
            width: 60%;
            margin: 0 auto;
            &-h3 {
                font-size: 2em;
            }
            &-copy {
                padding: 0 5rem;
            }
            &-input {
                padding: 1.1em 6.5em;
                margin-right: 1rem;
            }
            &-button {
                padding: 1.1em 2.2em;
            }
        }
    }
}

