/* variables */
/* media queries */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4em 1.4em;
  font-family: "Raleway", sans-serif;
}
.navbar__logo {
  width: 85px;
}
.navbar__menu {
  font-size: 0.9em;
}
.navbar__menu--list {
  display: flex;
}
.navbar__menu--list li {
  list-style: none;
  margin-left: 1.9em;
}
.navbar__menu--list li a {
  text-decoration: none;
  color: white;
}

.hero {
  text-align: center;
}
.hero__wrapper {
  padding: 2.6em;
}
.hero__img {
  width: 85vw;
}
.hero__h1 {
  line-height: 1.7;
  font-size: 1.7em;
  font-family: "Raleway", sans-serif;
}
.hero__copy {
  line-height: 1.5;
  margin-bottom: 2em;
}
.hero__button {
  padding: 1.1em 5.5em;
  color: white;
  border: 0;
  border-radius: 20px;
  background-image: linear-gradient(to right, #65e2d9 0%, #339ecc 100%);
}
@media (min-width: 1024px) {
  .hero__img {
    width: 55vw;
  }
  .hero__text-container {
    width: 50vw;
    margin: 0 auto;
  }
  .hero__copy {
    padding: 0 6vh;
  }
}

.features {
  margin-top: 70px;
  text-align: center;
}
.features__wrapper {
  padding: 2.6em;
  display: flex;
  flex-direction: column;
}
.features__card {
  margin-bottom: 100px;
}
.features__card-img {
  margin-bottom: 20px;
  width: 70px;
}
.features__card-h3 {
  margin: 0.5em 0;
  font-family: "Raleway", sans-serif;
}
.features__card-copy {
  line-height: 1.5;
  margin: 0.5em 0;
}
@media (min-width: 1024px) {
  .features__wrapper {
    flex-direction: row;
    align-items: center;
  }
}

.productive {
  margin-bottom: 150px;
}
.productive__wrapper {
  padding: 0 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productive__img {
  width: 85vw;
}
.productive__copy {
  line-height: 1.5;
}
.productive__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  color: #65e2d9;
  padding-bottom: 5px;
  border-bottom: solid 1px #65e2d9;
}
.productive__link img {
  margin-left: 4px;
}
@media (min-width: 1024px) {
  .productive__wrapper {
    flex-direction: row;
  }
}

.reviews__wrapper {
  padding: 0 3.5em;
  display: flex;
  flex-direction: column;
}
.reviews__card {
  background: #202a3c;
  font-size: 0.7em;
  padding: 1.9em;
  margin-bottom: 2.5em;
}
.reviews__card-copy {
  line-height: 2;
  margin-bottom: 2em;
}
.reviews__card-profile {
  display: flex;
  align-items: center;
}
.reviews__card-profile .name p {
  margin: 0;
  margin-bottom: 0.4em;
}
.reviews__card-profile .name p span {
  font-weight: 700;
}
.reviews__card-img {
  width: 30px;
  border-radius: 50%;
  margin-right: 0.8em;
}
@media (min-width: 1024px) {
  .reviews__wrapper {
    flex-direction: row;
  }
  .reviews__card {
    margin: 0 1rem;
  }
}

.signup {
  padding: 1.2rem;
  position: relative;
  top: 170px;
}
.signup__card {
  background: #202a3c;
  border-radius: 10px;
  text-align: center;
  padding: 1.5rem;
}
.signup__card-copy {
  line-height: 1.5;
  margin-bottom: 2.2rem;
}
.signup__card-input {
  padding: 1.1em 5.5em;
  border: 0;
  border-radius: 25px;
  margin-bottom: 1.4rem;
}
.signup__card-button {
  padding: 1.1em 6.2em;
  border: 0;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(to right, #65e2d9 0%, #339ecc 100%);
}
@media (min-width: 1024px) {
  .signup__card {
    width: 60%;
    margin: 0 auto;
  }
  .signup__card-input {
    padding: 1.1em 6.5em;
    margin-right: 1rem;
  }
  .signup__card-button {
    padding: 1.1em 2.2em;
  }
}

.footer {
  background-color: #0b1523;
  padding: 2em;
  padding-top: 12rem;
}
.footer__logo-text > img {
  margin: 2rem 0;
}
.footer__logo-text--copy {
  display: flex;
  align-items: baseline;
}
.footer__logo-text--copy img {
  margin-right: 1.3em;
}
.footer__logo-text--copy > img {
  margin-right: 2em;
}
.footer__logo-text--copy p {
  line-height: 2;
  font-size: 1rem;
}
.footer__phone-email {
  margin-bottom: 5rem;
}
.footer__phone-email p img {
  margin-right: 1.3rem;
}
.footer__about-us {
  margin-bottom: 3rem;
}
.footer__contact-us {
  margin-bottom: 5rem;
}
.footer__sm-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__sm-icons img {
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer .footer__brand-logo {
    margin-top: 5vh;
  }
  .footer .footer__logo-text {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer .footer__logo-text--copy {
    width: 37vw;
  }
}

body {
  font-size: 14px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #181f2a;
}

header {
  background: url("../images/bg-curvy-mobile.svg");
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  background: #0b1523;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attribution a {
  color: #65e2d9;
  text-decoration: none;
  margin-left: 5px;
}
.attribution img {
  width: 17px;
  margin-left: 5px;
}

/*# sourceMappingURL=main.css.map */
