@import './abstracts.scss';
@import './Components/header';
@import './Components/hero';
@import './Components/features';
@import './Components/productive';
@import './Components/reviews';
@import './Components/signup';
@import './Components/footer';




body {
    font-size: 14px;
    margin: 0;
    font-family: $open-sans;
    color: $white;
    background-color: $dark-blue-main;
}

header {
    background: url('../images/bg-curvy-mobile.svg');
}